<!DOCTYPE html>
<title>
    {% block title %}
    {% endblock title %}
    - LibDB
</title>
<nav>
    <h1>LibDB</h1>
    <span>
        <a href="{{ url_for('books.list_books_route') }}">Books</a>
        <a href="{{ url_for('books.list_books_route') }}">Authors</a>
        <a href="{{ url_for('books.list_books_route') }}">Shelves</a>
        <a href="{{ url_for('books.list_books_route') }}">People</a>
    </span>
</nav>
<section class="content">
    <header>
        {% block header %}
        {% endblock header %}
    </header>
    {% for message in get_flashed_messages() %}<div class="flash">{{ message }}</div>{% endfor %}
    {% block content %}
    {% endblock content %}
</section>
