{% extends "base.jinja" %}
{% block header %}
    <h1>
        {% block title %}
            Add Author
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}
    {% from "_formhelpers.jinja" import render_form %}
    {{ render_form(add_author_form, action=url_for('manage.add_author') ) }}
{% endblock content %}
